body {
    background-color: black;
}

h1, h3, ul, ol {
    color: green;
}

h3 {
    color: green;
}

p {
    color: green;
}

ol {
    color: green;
}

ul {
    color: green;
}

span {
    color: green;
}

.navbar {
    color: green;
    background-color: black;

}

.text-center {
    text-align: center;
}